a {
  text-decoration: none;
  width: 130px;
  height: 30px;
  text-align: center;
  display: grid;
  grid-template: repeat(4, 5px) / 1fr;
}

tr {
    border: 2px solid black;
    display: grid;
    grid-template: 1fr / repeat(6, 1fr);
    margin-top: 5px;
}

th {
    border: 1px solid black;
}

th input {
    height: 23px;
    background-color: (255,255,255,0);
}

#updateInventory .submit {
    display: inline;
    white-space: nowrap;
}

#updateInventory input {
    width: 150px;
}

#updateInventory button {
    margin-top: 5px;
}