doctype html
html
 head
  title Admin Page
  
  body
    if access 
        a(href=`/user/${id}/adminPanel/userManagement`) Admin panel
        for user in users
            if user != undefined 
                h1 Username: #{user[0]}
    else 
        h2 Sorry, you are only a user 