doctype html
html
  head
    title Home
    style
      include ../style/style.css

  body
    .container
      a(href='/login') Login
      |
      |
      a(href='/register') Register 
      |
      | 
      a(href=`user/${id}/inventory`) Inventory 
      |
      |
      a(href='/admin') Admin
      if loggedIn
        p You're logged in as #{username}!