doctype html
html
  head
    title Home
    style
      include ../style/style.css

  body
    .container
      a(href='/login') Login
      |
      |
      a(href='/register') Register 
      |
      | 
      a(href='/inventory') Inventory 