doctype html
html
  head  
    title Inventory
  
  body 
     h1=supplies
     script.
      var getAdd = function() {
        return add = true;
      }
     
     button(onclick='getAdd()') Add Item
     if add
      p You are adding an item
     else 
      p You are not adding an item