doctype html
html
  head
    title Register today!

  body
    <div class="container">
      form(method="POST" action="/register")
        label(for='username') Username: 
        input(type='text', name='username') 
        br 
        label(for='password') Password:
        input(type='password', name='password')
        br
        label(for='passConfirm') Password (confirm):
        input(type='password', name='passConfirm')
        br
        label(for="age") Age:
        |
        |
        input(type="text" name="age")
        br
        input(type='submit', value='Register')
