doctype html
html
    head
        title User Management 

    body
        if access 
            ul 
              each user in users
                if user 
                  li Username: #{user[0]}
                  li Age: #{user[1]}
                  hr

        else
            h2 You don't have access! 
